<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title></title>
  </head>
  <body>
    <h1>Welcome To Storage Space!</h1>
    <br>
    <span><%= @user.name %> welcome to storage space. Thank You for joining.</span>
    <p>Authorization Link: <%= confirm_email_user_url(@user.AuthCode) %></p>

  </body>
</html></span>
