<div class="container">
  <h1 class = "center-align">Storage Space</h1>
  <br>
  <div class="row">
    <div class = "col l6 offset-l3">
      <h3 class="center-align">What is Storage Space?</h3>
      <hr>
      <span>Storage Space enables our users to rent out excess space in their homes to people that need to store their stuff without having to sign up for a long contract with a major storage facility.</span>
      <h3 class="center-align">Who are we?</h3>
      <hr>
      <span>The Storage Space team is made up of four intrepid junior developers that sought to disrupt the storage space industry</span>
      <br>
      <p>Zach</p>
      <p>Alicia</p>
      <p>Scott</p>
      <p>Andrew</p>
    </div>
  </div>
</div>
