// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-width{
  max-width:100%;
  margin: 0 auto;
  position: relative;
  .full-width-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.img-holder {
  position: relative;
}

.img-holder .call-to-action {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 40%;
    bottom: 25%;
}
